.FooterMain {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  color: grey;
  font-size: 0.7rem;
  height: 5rem;
  padding: 2rem;
  align-items: flex-start;

  .FooterContacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
    width: 33%;
    border-right: 1px solid gray;
    margin-bottom: 1rem;

    .logo {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffc600;
      margin-right: 10px;
      gap: 1rem;
      font-family: "Comforter", cursive;
      font-size: 1rem;
    }

    .FooterName {
      font-size: 1rem;
      margin-right: 10px;
    }

    .FooterAdress {
      width: 70%;
      margin-right: 10px;
    }
  }

  .FooterAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
    width: 33%;
    border-right: 1px solid gray;

    h4 {
      font-size: large;
      margin: 0;
    }

    .division {
      display: none;
    }

    .FooterAboutText {
      width: 70%;
    }
  }

  .FooterMap {
    flex-grow: 1;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    .mainImage {
      width: 100%;
      height: fit-content;
      margin: 10px;

      img {
        width: 100%;
      }
    }
  }
}

.FooterSocial {
  margin-top: 3rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc600;
  gap: 2rem;

  * {
    border: 1px solid #ffc600;
    padding: 0.5rem;
    border-radius: 50%;
  }

  *:hover {
    cursor: pointer;
    box-shadow: #ffc600;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 198, 0, 0.81);
    box-shadow: 0px 0px 10px 5px rgba(255, 198, 0, 0.81);
    transition: all 0.5s;
  }
}

@media screen and (min-width: 480px) {
  .FooterMain {
    .FooterContacts {
      .logo {
        font-size: 1.5rem;
      }
      .FooterAbout {
        .division {
          border-bottom: 1px solid gray;
          color: grey;
          width: 20%;
          text-align: center;
        }
      }
    }
    .FooterMap {
      .mainImage {
        width: fit-content;
        height: 100%;
      }
    }
  }

  .FooterSocial {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}
